/* Set the background color of the page to greenyellow */
body {
  background-color: greenyellow;
}

/* Media query for screens with a maximum width of 768px (typically tablets and mobile devices) */
@media (max-width: 768px) {
  /* Style the button element on small screens */
  button {
    /* Set the text color to dark blue */
    color: darkblue;
    
    /* This property doesn't exist, likely meant to be 'display: block;' or 'flex-direction: row;' */
    display: row;
    
    /* Set the background color to dark green */
    background: darkgreen;
    
    /* Set the width of the button to 100pt (note: pt is not typically used for screen layouts, px or % is more common) */
    width: 100pt;
  }
}
